@using PIMWebMVC.Resources
@{
    ViewBag.Title = PIMResource.ERROR_ACCESS_DENIED_TITLE;
}

<div class="text-center text-danger error-global">
    <h1>@PIMResource.ERROR_ACCESS_DENIED_MESSAGE</h1>
    <span class="pim-dark-blue">4</span><span>0</span><span class="pim-dark-blue">3</span>
</div>

