@using PIMWebMVC.Resources
@{
    ViewBag.Title = PIMResource.ERROR_BAD_REQUEST_TITLE;
}


<div class="text-center text-danger error-global">
    <h1>@PIMResource.ERROR_BAD_REQUEST_MESSAGE</h1>
</div>


