@using PIMWebMVC.Resources
@{
    ViewBag.Title = PIMResource.ERROR_NOT_FOUND_TITLE;
}

<div class="text-center error-global">
    <h1>@PIMResource.ERROR_NOT_FOUND_TITLE</h1>
    <span class="pim-dark-blue">4</span><span>0</span><span class="pim-dark-blue">4</span>
</div>


<div style="background-color: aquamarine; border: 1px solid red;"> @*overflow:hidden;*@
    <p style="float: left; height: 300px; width: 431px; background-color: burlywood; word-wrap: break-word;">
        Float left 1111111111111111111111111111111111111111111111111111111111111111aaaaaaaaaaaaa
    </p>
    <p style="float: left; height: 300px; background-color:cadetblue;">
        Float left 22222222222222222222222222222222222222222222222222222...
    </p>
</div>
<p>No Float</p>


