@using PIMWebMVC.Resources
@using PIMWebMVC.Constants
@{
    ViewBag.Title = PIMResource.ERROR_SERVER_ERROR_TITLE;
    var currentErrorMessage = HttpContext.Current.Session[ErrorsConstant.ERROR_MESSAGE_SESSION_KEY];
    Session.Remove(ErrorsConstant.ERROR_MESSAGE_SESSION_KEY);
}

<div class="error-global text-danger">
    <h3>@PIMResource.ERROR_SERVER_ERROR_UNEXPECTED_MESSAGE: @currentErrorMessage </h3>
    <h3>@PIMResource.ERROR_SERVER_ERROR_PLEASE_CONTACT</h3>
</div>
