<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ProjectExcerciseContext" connectionString="Data Source=PC24649\SQLEXPRESS;Initial Catalog=ProjectExcerciseUnitTest;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!--<add name="ProjectExcerciseContext" connectionString="Data Source=PC24649\SQLEXPRESS;Initial Catalog=ProjectExcerciseDev;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>